* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #040404;
    height: 100%;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .info {
        background-color: #1F1F1F;
        height: auto;
        width: 100%;
        max-width: 400px;

        text-align: center;
        border-radius: 10px;
        align-items: center;
        padding: 2rem 2rem;

        img {
            border-radius: 50%;
        }

        h1 {
            color: #FFFFFF;
            font-weight: 500;
            margin-top: 1.5rem;
            font-size: 1.8rem;
        }

        .localizacao {
            color: #C4F82A;
            font-weight: 400;
            margin-top: 0.1rem;
            font-size: 1rem;
        }

        .bio {
            color: #d8d3d3;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        }

        .links {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 5.2vh;
                color: #FFFFFF;
                font-size: 1rem;
                font-weight: 600;
                background-color: #333333;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                text-decoration: none;
            }
        }

        a:hover {
            background-color: #C4F82A;
            color: #040404;
        }
    }
}

@media (min-width:201px) and (max-width: 425px) {
    main {
        padding: 0rem 2rem;

        .info {
            height: 85vh;
        }
    }
}